<div class="container-fluid">
  <div class="row justify-content-md-center">
    <mat-card>
      <mat-card-title>
        Login to Let Me Guide
      </mat-card-title>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input formControlName="email" matInput type="email" placeholder="Email" required>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="password" matInput type="password" placeholder="Password" required>
        </mat-form-field>
        <div>
          <span class="mat-error" *ngIf="this.invalid" >Oh no, something went wrong. Please check credentials and try again.</span>
        </div>
        <mat-card-actions>
          <button type="submit" mat-raised-button color="primary" [disabled]="this.submitted">Login</button>
        </mat-card-actions>
        <mat-card-footer>
          <p>
            This area is restricted only for the administrators.
            Download the app if you want to use Let Me Guide.
          </p>
        </mat-card-footer>
      </form>
    </mat-card>
  </div>
</div>
