<div class="container">
  <div class="row">
    <div class="col-8">
      <h1 class="display-3">Your points</h1>
      <p class="lead">Punkty, inaczej lokalizajce, to miejsca turystyczne.
        Sit at vulputate maecenas tortor in
        urna vestibulum.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button color="primary" mat-raised-button routerLink="/points/add">Add new point</button>
    </div>
  </div>
  <hr>
  <div>
    <div class="error">

    </div>
    <div class="mat-elevation-z8">
      <table [dataSource]="dataSource" mat-table>
        <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
        <tr *matRowDef="let dataSource; columns: columnsToDisplay" mat-row></tr>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell>Name</th>
          <td *matCellDef="let point" mat-cell> {{point.name}} </td>
        </ng-container>
        <ng-container matColumnDef="location">
          <th *matHeaderCellDef mat-header-cell>Location</th>
          <td *matCellDef="let point" mat-cell> {{point.location['name']}} </td>
        </ng-container>
        <ng-container class="description-column" matColumnDef="description">
          <th *matHeaderCellDef class="description-column" mat-header-cell>Description</th>
          <td *matCellDef="let point" mat-cell> {{point.description | slice:0:140}}...</td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th *matHeaderCellDef mat-header-cell>Action</th>
          <td *matCellDef="let point" mat-cell>
            <button (click)="openMapDialog(point.location)" color="accent" mat-stroked-button>Show on map</button>
            <button [routerLink]="['edit', point.id]" color="accent" mat-stroked-button>Edit</button>
          </td>
        </ng-container>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
    </div>

  </div>
  <app-mat-spinner-overlay *ngIf="materialSpinner" diameter="30" overlay="true"
                           strokeWidth="5"></app-mat-spinner-overlay>
</div>
