<div class="container">
  <div class="row">
    <div class="col-8">
      <h1 class="display-3">Attractions</h1>
      <p class="lead">
        Attractions of interest are places in your city that tourists usually visit. When adding a new point try to write an
        interesting, but a short explanation.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <button color="accent" mat-flat-button routerLink="/attractions/add">Add new attraction</button>
    </div>
  </div>
  <hr>
  <div>
    <div class="search-table">
      <!--<mat-form-field class="example-full-width">
        <input matInput placeholder="Type to search..." (keyup)="filterTable($event.target.value)" autocomplete="off">
      </mat-form-field>-->
      <mat-form-field>
        <input matInput placeholder="Type to search..." (keyup)="filterTable($event.target.value)" autocomplete="off">
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
      <table [dataSource]="dataSource" mat-table matSort>
        <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
        <tr *matRowDef="let dataSource; columns: columnsToDisplay" mat-row></tr>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell mat-sort-header="name">Name</th>
          <td *matCellDef="let point" mat-cell> {{point.name}} </td>
        </ng-container>
        <ng-container matColumnDef="location">
          <th *matHeaderCellDef mat-header-cell mat-sort-header="location.name">Location</th>
          <td *matCellDef="let point" mat-cell> {{point.location['name']}} </td>
        </ng-container>
        <ng-container class="description-column" matColumnDef="description" class="description-container">
          <th *matHeaderCellDef class="description-column" mat-header-cell>Description</th>
          <td *matCellDef="let point" mat-cell> {{point.description | slice:0:100}}...</td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th *matHeaderCellDef mat-header-cell>Action</th>
          <td *matCellDef="let point" mat-cell>
            <div class="action-buttons">
            <button (click)="openMapDialog(point.location)" color="primary" mat-stroked-button>Show on map</button>
            <button [routerLink]="['edit', point.id]" color="primary" mat-stroked-button>Edit</button>
            </div>
          </td>
        </ng-container>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
    </div>

  </div>
  <app-mat-spinner-overlay *ngIf="materialSpinner" diameter="30" overlay="true"
                           strokeWidth="5"></app-mat-spinner-overlay>
</div>
