<div class="container">
  <div class="row">
    <div class="col-8">
      <h1 class="display-4">Add new point</h1>
      <p class="lead">Please fill all required forms (marked with a
        red star) for the best results</p>
    </div>
  </div>
  <div class="row">
    <label for="name">Name</label>
    <div class="input-group input-group-lg">
      <input type="text" id="name" name="name" class="form-control" aria-label="Sizing example input"
             aria-describedby="inputGroup-sizing-lg">
    </div>
    <label for="description">Description</label>
    <div class="input-group">
      <textarea class="form-control" id="description" name="description" aria-label="With textarea"></textarea>
    </div>
    <div class="input-group">
      <app-map-search></app-map-search>
    </div>
    <div class="input-group">
      <app-here-map appId="Rj8r5qt8shjuXdZpGDuI" appCode="1WBZ2WJaa5YZzhg_GbT5hw" lat="50.064297" lng="19.944324"
                    width="500px" height="500px"></app-here-map>
    </div>
  </div>
</div>
