@import '~@angular/material/theming';
@include mat-core();

/* ======== Angular material custom themes ======== */
/*$main-material-primary: mat-palette($mat-light-green);
$main-material-accent: mat-palette($mat-amber, 300, 500, A100);
$main-material-warn: mat-palette($mat-red);*/

$main-material-primary: mat-palette($mat-grey, 900);
//$main-material-accent: mat-palette($mat-cyan, A100);
$main-material-accent: mat-palette($mat-light-blue, A100);
$main-material-warn: mat-palette($mat-red);
/*
Remember to update colors both above and below.
 */
$primary: #212121;
$primary400: #202020;
$accent500: #00afec;
$accent100: #FFF9C4;
$a100: #FFFF8D;
