/* You can add global styles to this file, and also import other style files */
//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "variables";


$main-material-theme: mat-light-theme($main-material-primary,$main-material-accent, $main-material-warn);

@include angular-material-theme($main-material-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




mat-form-field {
  width: 90%;
}
.w-90{
  width: 90%;
}
.full-width-table {
  width: 100%;
}
.mat-column-select {
  overflow: initial;
  padding: 15px 10px 10px 10px;
}
#description-row{
  textarea{
    height: 150px;
  }
}
.description-column{
  width: 30%;
}
.checkbox-column{
  width: 20px;
}
.summary{
  span{
    width: 100%;
  }
}
#map-search{
  width: 40%;
  padding: 0 10px 0 0;
}
#mapid{
  height: 250px;
  width: 100%;
}

.error{
  padding-top: 20px;
  padding-bottom: 10px;
  color: red;

}

.action-buttons{
  button{
    margin: 5px;
  }
}


