<div class="container">
  <div class="row">
    <div class="col-8">
      <h1 class="display-3">Your routes</h1>
      <p class="lead">Routes are collections of points that together create a trip for the tourists. Routes have two
        distinct categories - sightseeing mode and a challenge mode. Please remember to provide additional description
        for both of the modes. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button mat-raised-button color="primary" routerLink="/routes/add">Add new route</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <label for="search-input">Search</label>
    <div class="col-md-6 mx-auto">
      <div class="md-form">
        <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
               mdbInput>
      </div>
    </div>
    <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="true" class="z-depth-1">
      <thead class="sticky-top">
      <tr>
        <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="elements" [sortBy]="headElements[i]"
            scope="col">{{head | titlecase}}
          <mdb-icon fas icon="sort"></mdb-icon>
        </th>
      </tr>
      </thead>
      <tbody #row>
      <tr mdbTableCol (rowCreated)="onRowCreate($event)" (rowRemoved)="onRowRemove($event)"
          *ngFor="let el of elements; let i = index">
        <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
            scope="row">{{el.name}}</th>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
            class="red-text">{{el.location['name']}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.description}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
          <button type="button" class="btn btn-outline-secondary">Show on map</button>
          <button type="button" class="btn btn-outline-secondary" disabled>Edit</button>
        </td>
      </tr>
      </tbody>
      <tfoot class="grey lighten-5 w-100">
      <tr>
        <td colspan="4">
          <mdb-table-pagination [tableEl]="tableEl" paginationAlign=""
                                [searchDataSource]="elements"></mdb-table-pagination>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
  <ngx-spinner [fullScreen]="true" type="cube-transition" size="medium">
    <p class="loading">Loading points, hold on a moment please...</p>
  </ngx-spinner>
</div>
