<div class="container">
  <div class="row">
    <div class="col-8">
      <h1 class="display-3">Trasy</h1>
      <p class="lead">Trasy to zbiór atrakcji dla użytkownika. Dostęne są dwa tryby - zwiedzania oraz wyzwania. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button color="accent" mat-raised-button routerLink="/tours/add">Dodaj nową trasę</button>
    </div>
  </div>
  <hr>
  <div class="">
    <div class="search-table">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Type to search..." (keyup)="filterTable($event.target.value)" autocomplete="off">
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
      <table [dataSource]="dataSource" mat-table matSort>
        <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
        <tr *matRowDef="let dataSource; columns: columnsToDisplay" mat-row></tr>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell mat-sort-header="name"><b>Nazwa</b></th>
          <td *matCellDef="let road" mat-cell> {{road.name}} </td>
        </ng-container>
        <ng-container matColumnDef="location">
          <th *matHeaderCellDef mat-header-cell mat-sort-header="location.name"><b>Miejsce</b></th>
          <td *matCellDef="let road" mat-cell> {{road.location['name']}} </td>
        </ng-container>
        <ng-container class="description-column" matColumnDef="decoy">
          <th *matHeaderCellDef class="description-column" mat-header-cell><b>Chwytliwe hasło</b></th>
          <td *matCellDef="let road" mat-cell> {{road.description | slice:0:140}}...</td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th *matHeaderCellDef mat-header-cell><b>Czynności</b></th>
          <td *matCellDef="let road" mat-cell>
            <div class="action-buttons">
              <button (click)="openMapDialog(road.location)" color="primary" mat-stroked-button>Pokaż na mapie</button>
              <button [routerLink]="['edit', road.id]" color="primary" mat-stroked-button>Modyfikuj</button>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="rating">
          <th *matHeaderCellDef mat-header-cell>Ocena</th>
          <td *matCellDef="let road" mat-cell>
            <div class="rating">
              <!--<bar-rating [(rate)]="road['rating']['average']" [max]="5" [readOnly]="true"></bar-rating>-->
              <bar-rating [(rate)]="road['rating']['average']" [max]="5" [readOnly]="true" [theme]="'default'"></bar-rating>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="is_published">
          <th *matHeaderCellDef mat-header-cell mat-sort-header="is_published"><mat-icon matTooltip="Published tours">public</mat-icon> </th>
          <td *matCellDef="let road" mat-cell>
            <div class="is_published">
              <mat-icon *ngIf="road['published'] == true" color="primary"
                        matTooltip="Ta trasa jest dostępna dla użytkowników.">check
              </mat-icon>
            </div>
          </td>
        </ng-container>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  <app-mat-spinner-overlay *ngIf="materialSpinner" diameter="30" overlay="true"
                           strokeWidth="5"></app-mat-spinner-overlay>
</div>
