<div class="container">
  <div class="row">
    <div class="col-8">
      <h1 class="display-3">Your roads</h1>
      <p class="lead">Routes are collections of roads that together create a trip for the tourists. Routes have two
        distinct categories - sightseeing mode and a challenge mode. Please remember to provide additional description
        for both of the modes. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button color="primary" mat-raised-button routerLink="/roads/add">Add new route</button>
    </div>
  </div>
  <hr>
  <div class="">
    <div class="mat-elevation-z8">
      <table [dataSource]="dataSource" mat-table>
        <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
        <tr *matRowDef="let dataSource; columns: columnsToDisplay" mat-row></tr>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell>Name</th>
          <td *matCellDef="let road" mat-cell> {{road.name}} </td>
        </ng-container>
        <ng-container matColumnDef="location">
          <th *matHeaderCellDef mat-header-cell>Location</th>
          <td *matCellDef="let road" mat-cell> {{road.location['name']}} </td>
        </ng-container>
        <ng-container class="description-column" matColumnDef="decoy">
          <th *matHeaderCellDef class="description-column" mat-header-cell>Decoy</th>
          <td *matCellDef="let road" mat-cell> {{road.description | slice:0:140}}...</td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th *matHeaderCellDef mat-header-cell>Action</th>
          <td *matCellDef="let road" mat-cell>
            <div class="action-buttons">
              <button (click)="openMapDialog(road.location)" color="accent" mat-stroked-button>Show on map</button>
              <button [routerLink]="['edit', road.id]" color="accent" mat-stroked-button>Edit</button>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="is_published">
          <th *matHeaderCellDef mat-header-cell>Published</th>
          <td *matCellDef="let road" mat-cell>
            <div class="is_published">
              <mat-icon *ngIf="road['published'] == true" color="primary"
                        matTooltip="This road is available for the users. Edit the road to change it.">check
              </mat-icon>
            </div>
          </td>
        </ng-container>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  <app-mat-spinner-overlay *ngIf="materialSpinner" diameter="30" overlay="true"
                           strokeWidth="5"></app-mat-spinner-overlay>
</div>
