// Colors
$primary-color: #1F1F1F;
$secondary-color: #E5E5E5;

$success-color: #65DE62;

$side-bar-width: 250px;

.mainContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}


.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  //position: fixed;
  //min-width: 250px;
  //max-width: 250px;
  //min-height: 100vh;

  width: $side-bar-width;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#content {
  padding-left: 15px;
  padding-top: 15px;
  margin-left: $side-bar-width;
}

.loading{
  color: white;
}
