<mat-sidenav-container class="mainContainer" color="primary">
  <mat-sidenav #sidenav [(opened)]="currentUser&&showSideNavBar" [(mode)]="sideNavBarMode">
    <app-navbar></app-navbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar *ngIf="showMobileNavBar" color="primary">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      <div id="logo">
        <img src="/assets/2x/Asset 1@2x.png" alt="">
      </div>
      <div>
        <h2>Let Me Guide</h2>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
