// TODO: work on an better path
@import "../../global_variables";


.wrapper{
  padding-top: 10px;
  min-height: 100vh;
  background-color: $primary;
  color: white;

  a{
    color: white;
  }
}

.navbar{
 // width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

mat-nav-list{
  width: 100%;
  margin: 0;
}

.active, .active-link{
  background: $primary400;
  color: black;
}

.title{
  text-align: center;
  svg{
    max-width: 100px;
  }
}
