// TODO: work on an better path
@import "../../variables";


.wrapper{
  padding: 10%;
  min-height: 100vh;
  background-color: $primary;
  color: white;

  a{
    color: white;
  }
}


