<div class="wrapper">
  <div class="row">
    <h1>LMG</h1>
    <h2>Let Me Guide</h2>
  </div>
  <div class="row" *ngIf="currentUser">
    <ul>
      <a class="nav-item nav-link" [routerLink]="'/'">Summary</a>
      <a class="nav-item nav-link" [routerLink]="'/'">Points</a>
      <a class="nav-item nav-link" [routerLink]="'/'">Routes</a>
    </ul>
  </div>
  <hr>
  <div class="row">
    <a class="nav-item nav-link" [routerLink]="'/login'">Login</a>
  </div>
  <div class="row" *ngIf="currentUser">
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</div>
