// TODO: work on an better path
@import "../../variables";


.wrapper{
  padding: 10%;
  min-height: 100vh;
  background-color: $primary;
  color: white;

  a{
    color: white;
  }
}

.navbar{
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}


