<div class="wrapper">
  <div class="row">
    <h2>Let Me Guide</h2>
  </div>
  <hr>
  <mat-nav-list *ngIf="currentUser" class="navbar">
    <a mat-list-item class="nav-item nav-link" [routerLink]="'/'">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item class="nav-item nav-link" [routerLink]="'/points'">
      <mat-icon>outlined_flag</mat-icon> Points
    </a>
    <a mat-list-item class="nav-item nav-link" [routerLink]="'/routes'">
      <mat-icon>near_me</mat-icon> Routes
    </a>
    <a mat-list-item class="nav-item nav-link" *ngIf="!currentUser" [routerLink]="'/login'">
      <mat-icon>near_me</mat-icon> Login
    </a>
    <a mat-list-item class="nav-item nav-link" *ngIf="currentUser" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon> Logout
    </a>
  </mat-nav-list>
  <hr>
</div>
