<div class="container">
  <div class="row">
    <div class="col-8">
      <h1 class="display-3">Add a new point</h1>
      <p class="lead">Punkty, inaczej lokalizajce, to miejsca turystyczne.
        Sit at vulputate maecenas tortor in
        urna vestibulum.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
    <mat-horizontal-stepper linear>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Fill out basic details</ng-template>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Name of the route">
              <mat-hint>eg. 'Magical Cracow discovery'</mat-hint>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <textarea matInput placeholder="Textarea"></textarea>
              <mat-hint>Description is what should encourage tourist to take the selected route.
              </mat-hint>
            </mat-form-field>
          </div>
          <div>
            <span>Points</span>
            <p>Select the points you want to include in the rout. At this step, the order <b>does not matter.</b></p>
          </div>

        </form>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          ...

        </form>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    </div>
  </div>
</div>
