mat-form-field {
  width: 90%;
}
.full-width-table {
  width: 100%;
}
.mat-column-select {
  overflow: initial;
  padding: 15px 10px 10px 10px;
}
#description-row{
  textarea{
    height: 150px;
  }
}
