<!--        Stepper for each point-->
<form action=""></form>
<mat-vertical-stepper #stepper>
<mat-step *ngFor="let target of targetsArray.controls; let i = index" [stepControl]="stepperForm">
  <div [formGroup]="target" class="form-row">
    <ng-template matStepLabel>Details for {{this.targets[i]['name']}}</ng-template>
    <mat-form-field appearance="outline" class="width-max">
      <mat-label>Description for sightseeing</mat-label>
      <textarea #sightseeing autofocus formControlName="sightseeing" matInput
                placeholder="Textarea"></textarea>
      <mat-hint align="end">{{sightseeing.value?.length || 0}}/250</mat-hint>
      <mat-hint>Description is what should encourage tourist to take the selected route.
      </mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="width-max">
      <mat-label>Description for challenge</mat-label>
      <textarea #challenge formControlName="challenge" matInput placeholder="Textarea"></textarea>
      <mat-hint align="end">{{challenge.value?.length || 0}}/250</mat-hint>
      <mat-hint>Description is what should encourage tourist to take the selected route.
      </mat-hint>
    </mat-form-field>
    <div class="mt-2">
      <button mat-button matStepperPrevious type="button">Back</button>
      <button id="button{{this.targets[i]['id']}}" mat-button matStepperNext type="button">Next</button>
    </div>
  </div>
</mat-step>
</mat-vertical-stepper>
