.container {
  margin-bottom: 50px;
}

.target-description {
  padding: 20px;
  font-style: italic;
}

.targets {
  margin-top: 10px;
}

button {
  margin: 5px;
}

mat-panel-description {
  width: 30%;
  text-align: left;
}

mat-panel-title {
  flex-grow: unset;
  width: 30%;
}

#loop-checkbox{
  margin: 10px 0 0 0;
}
