<div class="container">
  <div class="row">
    <div class="col-8">
      <h1 class="display-3">Modyfikuj trasę</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Podstawowe informacje</h2>
      <form (ngSubmit)="onSubmit()" [formGroup]="roadsForm">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Nazwa</mat-label>
            <input autofocus formControlName="name" matInput placeholder="Nazwa trasy">
            <mat-hint>np. "Podziemne miasto"</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Chwytliwe hasło</mat-label>
            <input #decoy autofocus formControlName="decoy" matInput placeholder="Chwytliwe hasło">
            <mat-hint>Wpisz tu krótkie hasło, które przyciągnie turystów do tej trasy.</mat-hint>
            <mat-hint align="end">{{decoy.value?.length || 0}}/250</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Opis</mat-label>
            <textarea #description formControlName="description" matInput placeholder="Textarea"></textarea>
            <mat-hint align="end">{{description.value?.length || 0}}/250</mat-hint>
            <mat-hint>Wpisz tu krótkie hasło, które przyciągnie turystów do tej trasy.
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="w-90">
          <!--map-->
          <app-map-search (notifyPosition)="onResultClick($event)" *ngIf="this.roadLocationName"
                          [locationName]="this.roadLocationName" id="map-search"></app-map-search>
          <div id="mapid"></div>
        </div>
        <div class="w-90 targets">
          <hr>
          <h2 #targets id="targets">Atracje w tej trasie</h2>
          <p>Najedź myszką na punkt, kliknij i przytrzymaj aby przesunąć do góry lub na dół.</p>
          <button (click)="this.triggerPointsSelectorModal()" color="primary" mat-stroked-button type="button">Dodaj nowe atrakcje do trasy
          </button>
          <mat-accordion (cdkDropListDropped)="moveTarget($event)" cdkDropList class="example-headers-align">
            <mat-expansion-panel *ngFor="let target of targetsArray; let i = index " cdkDrag>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{i + 1}}  {{target['point']['name']}}
                </mat-panel-title>
                <mat-panel-description>
                  {{target['point']['description'] | slice: 0:100}}...
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-divider></mat-divider>

              Lokalizacja:
              <div class="target-description">{{target['point']['location']['name']}}</div>
              Kod:
              <div class="target-description">{{target['point']['code']}}</div>
              Podpowiedź dla trybu zwiedzania:
              <div class="target-description">{{target['explore_tip']}}</div>
              Podpowiedź dla trybu wyzwania:
              <div class="target-description">{{target['challenge_tip']}}</div>


              <mat-action-row>
                <button (click)="this.triggerTargetEditModal(target, i)" color="warn" mat-button type="button">
                  Modyfikuj
                </button>
                <button (click)="removeTargetFromRoad(i)" color="warn" mat-button type="button">
                  Usuń z trasy (ta opcja nie usuwa wpisu)
                </button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
          <div id="loop-checkbox">
            <mat-checkbox formControlName="loop" matTooltip="
            Zapętlenie trasy pozwala użytkownikowi na rozpoczęcie trasy
            od miejsca w którym użytkownik fizycznie się znajduje">Zapętlij trasę
            </mat-checkbox>
          </div>
        </div>
        <hr>
        <button (click)="removeRoad()" color="warn" mat-stroked-button type="button">Usuń trasę</button>
      </form>
    </div>
  </div>
  <app-mat-spinner-overlay *ngIf="spinner" overlay="true"></app-mat-spinner-overlay>
</div>
<div id="buttons-array">

  <div class="container">
    <div class="align-left">
      <button (click)="onSubmit()" color="accent" color="accent" mat-flat-button type="submit">Zapisz zmiany</button>
      <button [routerLink]="['/tours']" mat-stroked-button type="button">Anuluj</button>
    </div>
    <div class="align-right">
      <button (click)="publishRoad(this.is_published)" color="primary" color="primary" mat-flat-button
              type="button">{{this.is_published === true ? "Withhold" : "Publish"}}</button>
    </div>
  </div>
</div>
