<div class="container">
  <div class="row">
    <div class="col-8">
      <h1 class="display-3">Edit a road</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form [formGroup]="roadsForm">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input autofocus formControlName="name" matInput placeholder="Name of the route">
            <mat-hint>eg. 'Magical Cracow discovery'</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Decoy</mat-label>
            <input autofocus formControlName="decoy" matInput placeholder="Decoy">
            <mat-hint>Something that will attract tourist to click.</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea #description formControlName="description" matInput placeholder="Textarea"></textarea>
            <mat-hint align="end">{{description.value?.length || 0}}/250</mat-hint>
            <mat-hint>Description is what should encourage tourist to take the selected route.
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="w-90">
          <!--map-->
          <app-map-search (notifyPosition)="onResultClick($event)" *ngIf="this.roadLocationName"
                          [locationName]="this.roadLocationName" id="map-search"></app-map-search>
          <div id="mapid"></div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <mat-divider></mat-divider>
    <div class="col-12">
      <h2>Targets</h2>
      <div (cdkDropListDropped)="drop($event)" cdkDropList id="targets-panel">
        <mat-expansion-panel *ngFor="let target of selectedArray" cdkDrag>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{target['point']['name']}}
            </mat-panel-title>
            <mat-panel-description>
              {{target['point']['description']}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          Location:
          <div class="target-description">{{target['point']['location']['name']}}</div>
          Sightseeing description:
          <div class="target-description">{{target['explore_tip']}}</div>
          Challenge description:
          <div class="target-description">{{target['challenge_tip']}}</div>


          <mat-action-row>
            <button color="warn" mat-button>Edit</button>
            <button color="warn" mat-button>Remove</button>
          </mat-action-row>
        </mat-expansion-panel>
      </div>
    </div>
    <app-mat-spinner-overlay *ngIf="spinner" overlay="true"></app-mat-spinner-overlay>
  </div>
</div>
